:host {
  display: block;
  background-color: #f3f4f6;
  min-height: 100vh;
}

/* Scroll sutil para tablas largas */
table {
  border-collapse: separate;
  border-spacing: 0;
}

table th,
table td {
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.3);
  border-radius: 8px;
}

.no-resultados {
  text-align: center;
  color: #777;
  padding: 1rem 0;
}